.contenedor{
    background-color: rgb(211, 211, 211);
    border: solid black 1px;
    display: flex;
    justify-content: center;
    height:200px;
    align-content: center;
    align-items: center;
}

.caja{
    background-color: red;
    color: white;
    width: 20px;
    height: 20px;
    text-align:center;
    margin: 5px;
}