.contenedor{
    background-color: rgb(234, 234, 234);
    border: solid rgb(147, 255, 174) 2px;
    display: flex;
    justify-content: center;
    height:200px;
    align-content: center;
    align-items: center;
}
body{
    background-color: rgb(234, 234, 234);
}
.caja{
    background-color: white;
    color: black;
    justify-content: space-around;
    margin: 20px;
    border-radius: 10px; 
    border: red solid 1px; 
    width: 33%;
    padding: left 30px;
}