body{
    background-color: rgb(230, 230, 230);
    display: flex;
    justify-content: center;
}
.contenedor{
    border: black 3px solid;
    background-color: white;
    width: 20%;
}
.formulario{
    background-color: rgb(230, 230, 230);
    border-top: solid grey 3px;
    align-content:center;
    text-align:center;
    height:50px;
}
.caja{
border: solid rgb(174, 236, 254);
background-color:rgb(174, 236, 254);
margin-left: 10px;
margin-right: 25px;
border-radius: 25px;
margin-top:5px;
padding: 5px;      
}
.ultima{
margin-bottom: 25px;
}
.boton{
    background-color:rgb(0, 102, 255);
    color: white;
}
.texto{
    width:70%;
}