.contenedor{
    background-color: rgb(211, 211, 211);
    border: solid black 1px;
    display: flex;
    justify-content: center;
    height:200px;
    align-content: center;
    align-items: center;
}

.caja{
    background-color: red;
    color: white;
    width: 20px;
    height: 20px;
    text-align:center;
    margin: 5px;
}

.navegador{
    background-color: rgb(95, 95, 95);
    margin-top: 20%;
    display: flex;
    justify-content: start;
    height: 100px;
    align-items: center;

}

.texto{
    color:aquamarine;
    font-size:medium;
    font-weight:bold;
}
.boton{
    background-color: grey;
    color: white;
    padding: 15px;
    margin: 5px;
    text-align: center;
}